* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

/* Parent container */
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
}

/* All box containers */
.box {
  background-color: azure;
  border: 1px solid green;
  border-radius: 3px;
}

/* Middle container */
.five {
}
